* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* google font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* website main part start  */
body {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

main > section {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* shared styles */

.heading-1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  color: #000;
}

.heading-2 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3rem;
  color: #000;
}

.heading-3 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 3rem;
  color: #131313;
}

.desc {
  font-size: 1rem;
  color: #727272;
  line-height: 1.6rem;
}

.btn-primary {
  padding: 20px 24px;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  background: #ff900e;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-primary:hover {
  background: #d37000;
}
.btn-primary:active {
  transform: translateY(3px);
}

.mb-10 {
  margin-bottom: 10px;
}
.mb-24 {
  margin-bottom: 1.5rem;
}
.mb-32 {
  margin-bottom: 2rem;
}
.display-flex {
  display: flex;
}

/* header */
/* navbar */
header {
  background: rgba(255, 144, 14, 0.1);
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

nav {
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
nav ul {
  gap: 15px;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-left: 15px;
}
li a {
  text-decoration: none;
}

/* banner */
.banner-content {
  max-width: 860px;
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
.banner-img-box {
  padding: 50px 0;
}
.banner-img {
  width: 100%;
}

/* quick list section start */
.quick-list {
  justify-content: center;
  align-items: center;
  gap: 73px;
  margin-top: 85px;
  /* padding: 0px 40px; */
}
.teams {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.team-img {
  width: 100%;
}
.quick-list-content {
  max-width: 540px;
  width: 100%;
}
.normal {
  font-weight: 500;
  color: #999;
  line-height: 3rem;
}
.bold {
  line-height: 3rem;
  font-weight: 600;
}
.color {
  font-weight: 600;
  line-height: 3rem;
  color: #ff900e;
}

/* features section */
.features {
  padding: 130px 0;
  gap: 146px;
}
.features-content {
  display: flex;
  flex-direction: column;
}
.features-title {
  padding-left: 10px;
  border-left: 5px solid #ff900e;
  margin-top: 30px;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card {
  padding: 18px 19px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.089);
  border-radius: 8px;
}
.features-img-box {
  width: 100%;
}
.features-img {
  width: 100%;
}

.cta {
  display: inline-block;
  padding: 45px 30px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 8px;
  background: #ff900e;
  color: #fff;

  margin-left: -92px;
  margin-top: -150px;
}
.ten-years {
  font-size: 3rem;
  font-weight: 600;
}

/* facts section */

.facts p {
  max-width: 540px;
  width: 100%;
}

.facts-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 124px;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 100px 50px 100px 50px;
}

.fact-card {
  padding: 45px 35px 60px 35px;
  border: 3px solid #ff8f0e65;
  border-radius: 8px;
}
/* sponsors section */
.sponsors-content {
  max-width: 540px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.sponsors-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  text-align: center;
  filter: grayscale(100%);
  padding-top: 50px;
}

/* ///////////////// */

/* mobile responsive  */

@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    gap: 20px;
  }
  nav ul {
    flex-direction: column;
  }
  .banner-content {
    margin-top: 50px;
  }
  .quick-list {
    flex-direction: column;
    margin-top: 20px;
  }
  .teams {
    grid-template-columns: 1fr;
  }
  .btn-primary {
    padding: 15px 20px;
    font-size: 1rem;
  }

  .features {
    flex-direction: column;
    gap: 50px;
  }
  .cta {
    margin: 20px 0 0 0;
    padding: 35px 20px;
  }
  .facts-cards {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .sponsors-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
    gap: 20px;
  }
}

/* tablet responsive  */

@media screen and (min-width: 576px) and (max-width: 992px) {
  nav {
    flex-direction: column;
    gap: 20px;
  }

  .banner-content {
    margin-top: 50px;
  }
  .quick-list {
    flex-direction: column;
    margin-top: 30px;
  }
  .teams {
    grid-template-columns: repeat(2, 1fr);
  }
  .features {
    flex-direction: column;
    gap: 50px;
  }
  .cta {
    margin: 20px 0 0 0;
  }
  .features-title {
    text-align: left;
  }

  .facts-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .sponsors-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;
    gap: 20px;
  }
}
